.popular{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    height: 90vh;
}
.popular h1{
    color: black;
    font-size: 50px;
    font-weight: 600;
    margin-top: 60px;
    
}
.popular hr{
    /* margin-top: -35px; */
    width:50%;
    height: 2px;
    border-radius: 3px;
    background-color: #822629;
}
.popular-item{
    margin-top: 50px;
    display: flex;
    /* margin-inline-end: -60px; */
    margin-left: 12vh;

}