.offers{
    width: 72%;
    height: 60vh;
    display: flex;
    margin: auto;
    padding: 0px 140px;
    margin-bottom: 150px;
    background: #524748;
    margin-top: 1vh;
}
.offers-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.offers-left h1{
    color: #f9df86;;
    font-size: 50px;
    font-weight: 600;
    margin-bottom: -30px;
}
.offers-left p{
    color:#F1E4B9;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10vh;
}
.offers-left button{
    width: 200px;
    height: 70px;
    border-radius: 35px;
    border: none;
    background: #822629;
    color: white;
    font-size: 22px;
    font-weight: 500;
    margin-top: 30px;
    cursor: pointer;
    margin-bottom: 10vh;
    filter: drop-shadow(3px 3px 2.5px #F1E4B9);
}
.offers-right{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 50px;

}
.offers-right img{
    height: 60vh;
    margin-bottom: 50px;
    /* margin-inline-end: -29vh; */
}
